<mat-toolbar class="toolbar" color="primary" *ngIf="currentUser">
  <a class="nav-item nav-link" routerLink="/">cyclrr</a>
  <a class="nav-item nav-link" routerLink="/contents">Contents</a>
  <span class="fill-remaining-space"></span>
  <a class="nav-item nav-link" (click)="logout()" href=".">Logout</a>
</mat-toolbar>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
